<h1>This is Index Page</h1>
<ul>
  <% if(posts.length === 0) { %>
  <h3 style="color: gray">No Posts</h3>
  <% } else { %> <% posts.forEach(post => { %>
  <li>
    <a href="/post/<%= post.id %>"><%= post.title %></a>
  </li>
  <% });%> <% } %>
</ul>

<a href="create">this is link to create</a>
