<h1>This is Post Page</h1>
<%= post.title %><br /><br />
<%= post.content %><br /><br />
<a href="/edit/<%= post.id %>"><button>게시글 수정</button></a>
<a href="/remove/<%= post.id %>"><button>게시글 삭제</button></a>
